<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
  <meta name="description" content="Diego Pau Music"/>
  <meta name="keywords" content="music,guitar,pop,acoustic,diego,pau,diego pau,diegopaumusic,diego pau music"/>
  <meta name="author" content="Diego Pau"/>
</head>
<body>
    <div class="container">
        <%= yield %>
     </div>
</body>
</html>
